<nav class="mainNav navbar navbar-expand-sm">

  <a href="/" class="nav-link">MN PUBLIC ACADMEY</a>
</nav>

<nav class="text-capitalize navbar navbar-expand-lg navbar-light altNav text-dark" style="border-bottom:1px solid rgb(90, 41, 224); ">

  
  <ul class="navbar-nav mr-auto ">
    
    <li  class="nav-item ml-5  bg-dark"><a href="/" class="nav-link"><i class="fas fa-home mr-2 " ></i>Home</a></li>
    

    <li  class="nav-item ml-5  bg-dark"><a href="/acadmeics" class="nav-link"><i class="fas fa-book-open mr-2 d-inline" ></i>Acadmeics</a></li>

    <li class="nav-item dropdown ml-5  bg-dark">
      <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
        <i class="fas fa-layer-group mr-2 " ></i>Admissions
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/admissions/feeStructure">Fee Structure</a>
        <a class="dropdown-item" href="/admissions/procedure">Procedure</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/admissions/forms">Forms</a>
      </div>
    </li>

    <li class="nav-item dropdown ml-5 text-white bg-dark">
      <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
        <i class="fas fa-user mr-2 " ></i>Student
      </a>
      <div class="dropdown-menu "aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/student/calender">Calander</a>
        <a class="dropdown-item" href="/student/gallary">Gallary</a>
        <a class="dropdown-item" href="/student/scholorship">Scholorship</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/student/schoolPrayer">school Prayer</a>
      </div>
    </li>

   <li class="nav-item dropdown ml-5 bg-dark">
      <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
        <i class="fas fa-info-circle mr-2"></i>About us
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/aboutUs/helpline">Helpline</a>
        <a class="dropdown-item" href="/aboutUs/OurVission">Our Mission and Vision</a>
        <a class="dropdown-item" href="/aboutUs/director'sMessage">Director's Message</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/aboutUs/EBrochure">E-brochure</a>
      </div>
    </li> 
  </ul>

</nav>

