body{
  background-image: url('../../images/school.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navShowcase{
  background-image: url('../imagesAcadmeics/admission1.jpg') ;
 
 }
 
 .navHeadingContainer{
   background-color: rgba(30, 144, 255,0.5) !important;
 }

 .heading{
   background-color: rgba(26, 24, 24, 0.878) !important;
   margin-top:15px;
   border-left:10px solid tomato;
  
 }
 
 i{
   color:grey;
 }