
<!--navbarEnds-->
<link rel="stylesheet" href="style/acadmics.css">
<div class="navShowcase">
<div class="navHeadingContainer">
<h1 class="display-1 container text-white text-center">
  Acadmeics
</h1>
</div>
</div>
<div class="navigation">
<nav class="navbar navbar-expand-sm my-2 card card-body navbar-light bg-light choiceBar " style="font-size:15px">
  <ul class="navbar-nav text-left">
    <li class="nav-item active"><a href="#" class="nav-link active">Cirriculam</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Foundation Stage</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Life Skills</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Our Staff</a></li>
  </ul>


</nav>
</div>

<div class="ciriculam ">
<div class="card card-body mx-4 heading mt-5">

  <h1 class="display-3 text-white " >Cirriculam</h1>
  
  </div>
  <div class="card card-body mx-4 altCard" >
  <p class="ml-4">
      PN Public Academy follows CBSE, New Delhi curriculum for all classes. To meet the requirements of the CBSE, the core subjects, together with the foundation subjects, are planned, where possible, within the framework of a cross-curricular topic.

      Moral Education is part of the syllabus and is also integrated within project work and special focus is given by school. Prayers are mandatory part of school activity every day. School follows the secular principles and respects all religions equally.
      
      Prayers are no way reflection of inclination of school towards any particular religion. Prayers reflect our rich heritage and culture and faith and belief in God Almighty and our expression of gratefulness to the Alimighty. <br><br>
      
      Staff, within year groups, meet to determine the nature of the topic, its content, timing, organisation, resourcing and teaching strategies, making reference to the children’s previous experience. <bold>The content areas are based on the CBSE guidelines. </bold>
      
      The topic is initially prepared with reference to the long-term plan. The teachers then complete their medium-term plans which are used to inform detailed, weekly, short-term and daily plans. A copy of the long-term plan for each year group is provided for parents at the start of every year and it is also available on the school website. Further information can be obtained from the class teachers. 
      
      Such topics are generally planned on a half-termly basis, but the opportunity to deliver ‘mini-topics’, focussing on specific aspects, is part of the planning system.
      
      Traditionally, schools have always assessed, evaluated and monitored children’s academic, social, moral and physical development. Given the breadth and depth of entitlement within the today education system, the need for appropriate recording systems is self-evident. On a daily/weekly basis, children’s progress is monitored and recorded, and this information is used to plan the next stages of the children’s learning.<br><br>
      
      A record is kept of each child’s level of attainment, as determined by teacher assessment. In addition, standardised reading, spelling, verbal and non-verbal reasoning tests may be used as well as the teachers’ end of unit tests. All these tests, together with teacher assessments, enable teachers to set targets for each child and give parents a regular update on progress. 
      
      We place great importance promoting the children’s love of books and encourage them to be confident, independent readers. We use CBSE curriculaum books as our main reading scheme, which is supplemented with independent books to help build understanding and comprehension. 
      
      The main phonics programme in use is Letters and Sounds. This starts in Prep 1 (Nursery) and runs throughout Stage 1 and if needed in early Stage 2.
      
      Certain special features apply to individual year groups and the following summary provides an overview of the valuable work completed in each year group.<br><br>
      
      

  </p>
  

<br><br>

</div>
</div>
<br><br>

<div class="foundation">
<div class="card card-body mx-4 heading mt-5">

  <h1 class="display-3 bold ">Classes</h1>
  </div>
  
  
<div class="card card-body mx-4 altheading">
    <h3 class="display-4  ">Foundation Stage</h3>
    </div>

      <div class="mx-4 card card-body mx-4 altCard">
        <h4 class="display-4">Prep 1 (Nursery) Age 3-4 years</h4>
        <hr>
      It is acknowledged that early childhood is a crucial stage of life in terms of children’s physical, intellectual, emotional and social development. Education begins at home and in all previous pre-school settings. In the first year of Foundation Stage Prep 1 (Nursery) , children build on what they already know and can do. The curriculum is both a foundation for future work and important in its own right. 
      
      Relevant and appropriate curriculum activities are structured to provide for individual children’s starting points, and to ensure stimulating teaching and learning opportunities. Children work towards the Early Learning Goals, which set out what is expected for most children by the end of the Prep 1 (Nursery) .
      
      The children’s development is assessed on entry to school and is followed up, throughout the school year, to give an ongoing Foundation Stage Profile of how individual children are progressing and adjusting to school. Parents are encouraged to discuss all aspects of their child’s progress at parents’ evenings and informally as needs arise. All children participate in dance and Plays in the annual function of the school. 
      
      Children visit a dairy farm, police station. <br><br>
      
        <h4 class="display-4"> (KG) Age 4-5 years</h4>
        <hr>
      In their second year of Foundation Stage Prep 2 (KG) , children build upon further on all the experiences of Foundation Stage Prep 1 (Nursery) . The day is structured to incorporate a daily literacy session, during which children are involved in focussed tasks to develop necessary skills in learning Alphbets. 
      There is also a daily mathematics session, enabling children to develop their skills in computation and mental calculation. They undertake exciting and stimulating project work relating to places both within school and the local areas in its vicinity.
      
      The children visit the local Fire station, vegetable market. Children learn to work both independently and responsibly. They begin to monitor their own progress and achievements in discussion with the teacher. Mathematics homework, cross-curricular activities and all types of reading are shared at home and all children have a Homework Diary.
      </div>
      <br>
      <div class="card card-body mx-4 altheading">
      <h3 class="display-4 ">Primary School</h3></div>
      <div class="card card-body mx-4">
      
        <h4 class="display-4 "> Class-1 Age 5-6 years</h4><hr>
      The children have gained a greater degree of independence by class 1 and are able to begin to manage their own day and evaluate aspects of their work. This is evident in all core subjects, where drafting and redrafting in English can be seen in story and poetry writing; where evaluation of the success, or otherwise, of early science work begins; and where, as part of the Numeracy Strategy, mathematical skills for recording are used. Project work is tackled with enthusiasm and is pursued at home as well as in school. In addition, children take spellings home to learn, as well as mathematics homework and all types of reading. All children have a Homework Diary. During the winter and summer breaks the children take home work which has to be assisted by parents. <br><br>
      
        <h4 class="display-4"> Class-2 Age 6-7 years</h4 ><hr>
      The children in this year group begin to pay particular attention to presentation of work, where high standards are expected. Enthusiasm for project work is notable, and extension work is carried on at home on a voluntary basis. Foundation skills in mathematics, English and science consolidate and can become quite sophisticated, with children producing some exceptional work. Spelling, mathematics and all types of reading are now part of the home/school routine and are recorded in the Homework Diary. Children who wish to learn to play a musical instrument are encouraged to do so with school music teacher or outside. The availability of these lessons depends on vacancies and aptitude. <br><br>
      
      <h4 class="display-4">Class-3 Age 7-8 years</h4 ><hr>
      During this year, the children develop much greater independence and become much more in control of the management of their own learning. All curriculum areas develop according to the ability of the child and expectations are high. The children develop their skills of questioning and evaluation, producing some sophisticated work in science, English, mathematics, information and communication technology (ICT), geography, history and design technology (DT). 
      Appreciation of art and music develops and all children have instrument lessons each week led by a specialist teachers as decided by school administration. Those who wish can begin to learn to play the recorder and can buy their own, school will provide an assistance. 
      
      There are opportunities for children to develop their team building skills during a local residential visit to the Kushi Nagar.
      
      For homework, the children have spellings, mathematics and all types of reading. Children are encouraged to research actively and independently at home those areas of study which arouse their interests. Again, all homework is recorded in the Homework Diary. During this year, the children begin to use pens for handwriting.<br><br>
      
       <h4 class="display-4">Class-4 Age 8-9</h4 ><hr>
      The children demonstrate highly developed skills in presentation and organisation. Work is extended at home and they are encouraged to use their research skills in school library and other local libraries, extending and developing the work started in school. 
      Techniques learned in English are practically applied, with plenty of opportunities for interviewing, drafting and writing for different purposes and audiences. Meeting and speaking in English with a lot of friends and relatives. Writing and giving speeches in English. Participating in debates and drama in school and short plays in classes, story telling. Mathematics, science, design technology and information technology skills are also highly developed and relate to practical situations and projects. Appreciation of art and music is extended and some very sensitive responses to art techniques and styles are evident. Children in this year group have access to the many clubs and are able to lead an extremely full and active life in school. Evidence of work in this year, together with records from previous years, is important for teacher assessment at the end of the year. Children receive homework in spellings, reading, project work and mathematics. This is all recorded in the Homework Diary.<br> <br>
      
      <h4 class="display-4">Class-5 Age 9-10 years</h4 ><hr>
      A high level of independence and responsibility is expected of pupils in Class 5. 
      Extremely sophisticated work is evident in mathematics, English and science. The children are expected to present their work to a high standard, using their own handwriting skills as well as appropriate programs on the computer. Children are taught basic of sex education as prescribed by school and agreed by parents (final decision to be taken by school management). This will include human reproduction, changes to the body and relationships. All parents are invited to see the materials used and a very informative booklet about this is available from school. 
      
      Work in school is consolidated with a variety of homework activities which include reading, spelling, mental arithmetic and research based projects. 
      
      There are opportunities for children to develop their team building skills during a residential outdoor pursuits visit to some historical places. 
      
      At the end of Class 5, the children’s life at PNPA is celebrated through a formal Party organised by school separately for students and once for parents.
    </div>
  
   </div>

<div class="teachinStaff">

  <div class="mx-4 card card-body my-4 heading">
    <h1 class="display-4">Our Staff</h1>
    <hr>
    </div>
    <p class="mx-4 card card-body  " style="font-size:22px;">

      The school has a qualified and dedicated team of teachers, most of them have long experience of work and are competent in their areas of expertise.<br><br>

      Our faculty at the P. N. P. Academy enlarges the learning experience. All teachers live on the campus and are actively involved in the extra and co-curricular activities that are pencilled into the daily routine of the students. Be it on the sports field, the sphere of publications or debates, teachers take an active interest and share a healthy rapport with the students.
      The school is committed to increasing its teacher development programmes, both academic and non-academic.<br><br>
      <span style="color:red;font-size: 20px;">*<span style="font-weight: bold; color:black"> For Detail Information Download Our E-Borcher<br><a href="../E-brochure.pdf" class=" nav-link btn btn-danger d-inline-block mt-2" download="E-brochure"> Click here</a></span> </span>
    </p> 
  
</div>
<script src="../../js/acadmeics.js">


</script>


