<link rel="stylesheet" href="../style/gallary.css">
<div class="navShowcase">
<div class="navHeadingContainer pb-0.3">
    
<h1 class="display-1 container text-light text-center">
 Gallary
</h1>
</div>
</div>

<div class="card card-body gallaryBg position-relative p-4">
  <br><br>
  <hr>
<div class="row pl-3">

<div class="col-lg-4 col-md-6 col-sm-12"class="" >
  <div class="position-relative unique">
  <img src="/gallaryThumbnails/g1.jpeg" alt=""> 
  </div>
 <a href="/student/gallary/campus"> <div class="grid text-center "> <h1>Our Campus</h1></div></a>
  </div>
  
<div class="col-lg-4 col-md-6 col-sm-12"class="" >
  <div class="position-relative unique">
  <img src="/gallaryThumbnails/g2.jpeg" alt="" >
  </div>
   <a href="/student/gallary/tour"><div class="grid text-center "> <h1>Tours and Trips</h1></div></a>
  </div>


<div class="col-lg-4 col-md-6 col-sm-12"class="" >
  <div class="position-relative unique">
  <img src="/gallaryThumbnails/g3.jpeg" alt="" >
  </div>
   <a href="/student/gallary/activities"><div class="grid text-center "> <h1>Activities</h1></div></a>
  </div>


</div>
<br><br><br>
<div class="row row2">
  <div class="col-lg-6 col-md-6 col-sm-12">
<div class="position-relative unique">
  <img src="../gallaryThumbnails/g4.jpeg" alt="" >
  </div>
    <a href="/student/gallary/sports"><div class="grid text-center "> <h1>Games</h1></div></a>
  </div>


   <div class="col-lg-6 col-md-6 col-sm-12">
<div class="position-relative unique">
  
  <img src="/gallaryThumbnails/g5.jpeg" alt="" >
  </div>
  
   <div class="grid text-center "> <h1>Activities</h1></div>

   </div>

</div>
<br><br>

</div>
<br><br><br>


<script>
unique=document.querySelectorAll('.unique');
for(var i=0;i<unique.length;i++)
{unique.addEventListner('click',zoom);}

function zoom()
{
  console.log('hello');
}

</script>