<link rel="stylesheet" href="../style/calender.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
 Calender
</h1>
</div>
</div>


<div class="card card-body mx-4 text-center heading">
  <h1 class="display-5">Term And Holiday Schedule For 2015-2016</h1>
</div>
<br>

<div class="card card-body mx-4 text-center">
  <embed src="../holiday.pdf" width="800px" height="2100px" />
    
            </div>


    