
<link rel="stylesheet" href="../style/schoolPrayer.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
 Prayer
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4 sp">
<h1 class="display-3">School Prayer</h1></div>
<div class="card  mx-4">
<nav class="navbar-nav  card-body navbar-expand-sm np">
  <ul class="nav-item"><a href="" class="nav-link">English</a> </ul>
  <ul class="nav-item"><a href="" class="nav-link">Hindi</a></ul>
</nav>
</div>
<br><br>

<div class="card card-body mx-4 text-center na ">
  <h1 class="display-3 text-success mb-3">राष्ट्रगान</h1><hr>

  <p style="font-size:30px; color:rgb(22, 140, 250);">
      राष्ट्रगान
      जनगणमन-अधिनायक जय हे भारतभाग्यविधाता<br>
      पंजाब सिंधु गुजरात मराठा द्राविड़ उत्कल बंग<br>
      विंध्य हिमाचल यमुना गंगा उच्छलजलधितरंग<br>
      तव शुभ नामे जागे, तव शुभ आशिष मागे,<br>
      गाहे तव जयगाथा।<br>
      जनगणमंगलदायक जय हे भारतभाग्यविधाता<br>
      जय हे, जय हे, जय हे, जय जय जय जय हे।।<br>
  </p>
            </div>
<br><br>

            <div class="card card-body mx-4 text-center prayer">
                <h1 class="display-3 text-info mb-3">प्रार्थना</h1><hr>
              
                <p style="font-size:30px; color:rgb(2, 2, 2);">
                    इतनी शक्ती हमे देना दाता, मन का विश्वास कमजोर हो ना<br> 
हम चले नेक रस्ते पे हम से, भूलकर भी कोई भूल हो ना <br> 

दूर अज्ञान के हो अँधेरे, तू हमें ज्ञान की रोशनी दे 
हर बुराई से बचते रहे हम, जितनी भी दे भली ज़िन्दगी दे
बैर हो ना किसी का किसी से, भावना मन में बदले की हो ना<br> 

हम ना सोचें हमें क्या मिला हैं, हम यह सोचे किया क्या हैं अर्पन
फूल खुशियों के बाँटे सभी को, सब का जीवन ही बन जाये मधुबन
अपनी करुणा का जल तू बहा के, कर दे पावन हर एक मन का कोना<br> 

इतनी शक्ती हमे देना दाता, मन का विश्वास कमजोर हो ना 
हम चले नेक रस्ते पे हम से, भूलकर भी कोई भूल हो ना <br>
                </p>
                          
                          </div><br><br>


    