
<link rel="stylesheet" href="../style/forms.css">


<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
 Scholorships
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4 heading">
<h1 class=" text-white">Guidlines To Scholorships</h1></div>
<div class="mx-4 card card-body">
<p>
    Some Scholarship and financial help may be provided to children from Economically Weaker Sections of Society on need basis and for girl child. On merit Scholarships are available from session 2016-2017.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab error, voluptatibus maiores laboriosam unde dignissimos deleniti, eum incidunt labore porro dolores facilis quae. Voluptatum reprehenderit nemo, culpa eos officia quaerat?

</p>
</div>


    