
<link rel="stylesheet" href="../style/fee.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
  Fee Structure
</h1>
</div>
</div>

<br><br>
<div class="feeStructure">
  

<div class="card card-body heading container">
  <h2 class="display-3">Fee</h2>
</div>
  
  
  <div class="card card-body container">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Periode</th>
        <th>Fees</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Monthly</td>
        <td>1000/-</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Quartley</td>
        <td>3000/-</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Yearly</td>
        <td>12000/-</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Transport Fee(Monthly)</td>
          <td>5000/-</td>
        </tr>
    </tbody>
  </table>
</div>


<br><br>
<div class="card card-body heading container">
    <h2 class="display-3">Charges payable at the time of Admission only</h2>
  </div>
    </div>
    
    <div class="card card-body container">
    <table class="table table-striped table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Type</th>
          <th>Fees</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>1</td>
          <td>Admission Fee</td>
          <td>2000/-</td>
        </tr>
        <tr>
          
          <td>2</td>
          
        <td>Caution Money(Refundable)</td>
        <td>1000/-</td>
        </tr>
        <tr>
          
          <td>3</td>
          <td>Devlopment</td>
          <td>3000/-</td>
        </tr>
        <tr>
          
            <td>4</td>
            <td>Uniform</td>
            <td>5000/-</td>
          </tr>
          <tr>
          
              <td>5</td>
              <td>Stationary</td>
              <td>3200/-</td>
            </tr>
      </tbody>
    </table>
  </div>

</div>
<br><br>
<div class="card card-body heading2 container">
    <h2 class="display-3 text-white ">Important Notices</h2>
  </div>
  <div class="card card-body list-item container">
     <h3 > Refund of Caution Money</h3>
     <p>
        Caution money must be claimed within three months of the child leaving the school or it will lapse.
     </p>

  </div>
  <div class="card card-body list-item container">
      <h3 >Withdrawal Notice</h3>
      <p>
          Notice of withdrawal must be given one month in advance. Failure to do so will entail the payment of one month's fee in lieu of the notice.
      </p>
 
   </div>
   <div class="card card-body list-item container">
      <h3 > Mode of Payment of Fees</h3>
      <p>
          The fees must be paid by 10th of every month by cheqe/draft/cash. Cheqe should be in favour of PN Public Academy payable at Padrauna. There is a late fee of Rs. 5 per day.
      </p>
 
   </div>
    
    
    <div id="footer"></div>
    

