
<link rel="stylesheet" href="../style/forms.css">


<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
 Forms
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4 heading">
<h1 class="display-3 text-white">Forms For Admissions,Brochures and Guidlines</h1>


</div>

<div class="card card-body mx-4 text-center">
  <h4 class="text-white">Admissions Forms</h4>
   <span> <i class="fas fa-download  fa-3x"></i>
    <a href="" class="btn btn-success d-inline-block m-2">Click here</a></span>
    </div>
    <div class="card card-body mx-4  text-center">
      <h4>Guidlines and Information</h4>
      <span> <i class="fas fa-download  fa-3x"></i>
        <a href="" class="btn btn-success d-inline-block m-2">Click here</a></span>
        
        </div>

        <div class="card card-body mx-4  text-center">
          <h4>E-Brochers</h4>
          <span> <i class="fas fa-download  fa-3x"></i>
            <a href="" class="btn btn-success d-inline-block m-2">Click here</a></span>
            </div>


    