

<link rel="stylesheet" href="../style/procedure.css">

<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
  Procedure
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4  heading">
<h1 class="display-4 ">Primary and Pre-Primary School</h1>

</div>
<div class="card card-body mx-4 ">

  <p>
      Parents wishing to send their children to this school should complete the PNPA Admission Form Form from 1st March 2015 and return it to the school within 30 days and anyhow before 20 June 2015 to ensure the allocation of a place in school on the last day of June 2015. After 30 June, admission will be considered if seats are available only. Decision of School management will be full and final in all respect. <br><br>

      In the few weeks before the children begin school, parents are invited to meet the Principal and Director and other teachers. Every effort is made to have children in school for an informal session before they officially start. Parents are requested to bring the children to school and make them familiar with class rooms and play area. <br><br>
      
      Children are admitted full time in April and July unless parents feel that their child is not ready for this. Children must start school at the commencement of the term. In Prep 1 (Nursery) and Prep 2 (KG) admission is open throughout the year, as and when a child completes 3 years of age is eligible of admission if vacancy exists in school. There will not be any test or interview of kids or parents for admission into Prep 1 (Nursery) and Prep 2 (KG).<br><br>
      
      Parents wishing to send their children to classes 1st -5th should make an appointment to see the Principal. Parents will then be shown around the school, and the secretary will supply the Primary School Application Form for completion. 
  </p>
</div>
<br><br>
<div class="card card-body mx-4  heading">
<h1 class="display-4 ">Middle School Admission Classes VI-VIII</h1>

</div>
<div class="card card-body mx-4 ">

  <p>
      Parents wishing to send their children to classes VI-VIII should make an appointment with Principal/Director/Manager and come to school for discussion and reserving seat for next year. Parents will then be shown around the school and supply the School Admission Form for admission starting in session 2016-17. No admission is being taken for Middle School in current academic session 2015-16.<br>
      <strong>Please do not hesitate to contact the Principal for further details or clarification regarding admissions.</strong>
    </p>
    </div>
  </div>
    
<br><br>


    