
<link rel="stylesheet" href="../style/schoolPrayer.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
 Director's Message
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4 sp" style="border-left:10px solid tomato">
<h1 class="display-3">Message</h1></div>
<div class="card  mx-4 p-4">
  <div class="row">
  <p style="font-size:38px; " class="px-4 col-lg-6 text-center">
    Dr. Ajit Kumar Shukla<br>
Mobile No. +91 -9999086510<br>
director@pnpublicacademy.com
<hr style="background-color:tomato ; size:20px;">
<br>
  </p>

  <div class="col-lg-6 text-center">
    <img src="../../images/admin.png" alt="" style="height:100%">

  </div>
  
  </div>
  <hr>
  <br><br>
  <p style="font-size:20px; " class="mx-4">
The renowned psychologist Carl Jung said, “Your vision will become clear only when you look into your heart. Who looks outside, dreams. Who looks inside, awakens.”
<br><br>
We as a nation stand on the threshold of a new beginning, having covered a 67 years of independence in the endeavor to create independent thinking, creative and sensitive individuals, who will serve as torch bearers to further ignite many more minds and create a world, painted with love, beauty and happiness.
<br><br>
Our strength lies in the core values on which our school stands and each day, each year, we resurrect these values into the heart and mind of every student. In the coming years, we will continue to be ignited with the value of ‘Pride in one’s heritage’ and nurture our heritage with care, responsibility and a deep sense of dignity. Understanding the various facets of our country, and taking pride in its uniqueness, will drive us to our goal. 
<br><br>
Valuing and displaying ‘Integrity’ in thought, word and action, will impel every individual of the school to be true to oneself. To have the courage to stand up for what is right and to accept mistakes, with grace and positivity, is how we will sow this value in the years to come.
<br><br>
Excellence is an attitude. We place high value on the ‘Pursuit of excellence’ and will continue to inculcate in our children the right outlook to not run after success but to chase excellence, in any and everything that they do. 
<br><br>
Sports, Art or Academics, the mantra that they need to follow is that they have to be better than what they were yesterday.
<br><br>
I foresee a world, through our school and its pupils, which values ‘Sensitivity’. Respecting differences and valuing every individual for what he or she is, is how we will create a community which is free from the shackles of ego and hatred. Compassion for others, for nature and how it serves us, and welcoming individual differences is, and will be, the mainstay of our school.
</p>






</div>
<br><br>

