
<link rel="stylesheet" href="../style/schoolPrayer.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
 E-Brochure
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4 sp">
<h1 class="display-3">E-Brochure</h1>
</div>

<div class="card  mx-4 px-4">


  <h1 class="display-4">You Can Download Our E-Brochure Here </h1>
 <p style="font-size:20px;">
  Our E-Brochure have complete details of our managment, campus and everything. 
</p> 
<span><button class="btn btn-danger btn-inline d-inline">Download</button></span>
<br><br>
</div>

