
<link rel="stylesheet" href="../style/schoolPrayer.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
Helpline 
</h1>
</div>
</div>
<br>
<div class="card card-body mx-4 sp">
<h4 >Helpine</h1></div>

<div class="card card-body mx-4">
<p style="font-size:30px;">981198765</p>
</div>

<br><br>
<div class="card card-body mx-4 sp">
<h4 >Helpine</h1></div>

<div class="card card-body mx-4">
<p style="font-size:30px;">981198765</p>
</div>
<br><br>
<div class="card card-body mx-4 sp">
<h4 >Helpine</h1></div>

<div class="card card-body mx-4">
<p style="font-size:30px;">981198765</p>
</div>








  