
<link rel="stylesheet" href="../style/schoolPrayer.css">
<div class="navShowcase">
<div class="navHeadingContainer">
    
<h1 class="display-1 container text-white text-center">
Our Mission And Vission
</h1>
</div>
</div>
<br><br><br>
<div class="card card-body mx-4 sp "style="border-left:10px solid tomato;">
<h1 class="display-5" >Vission</h1></div>
<div class="card  mx-4 px-4">
<p style="font-size:23px;">
The PN Public Academy aims to be an institution of excellence and dedicate itself to training and producing leaders in all fields of life for the peace, prosperity and happiness of mankind.
</p>

  </div><br><br>

  <div class="card card-body mx-4 sp" style="border-left:10px solid tomato;">
<h1 class="display-5" >Mission</h1></div>
<div class="card  mx-4 px-4" 
>
<p style="font-size:23px;">
To fulfill the vision, the PN Public Academy aims to provide a comprehensive environment in which every student discovers and realizes his/her full potential. The school aims to attract the best talent - students, teachers and facilitators - from all parts of India and the world, across all sections of society without distinction of faith, gender, race, religion, caste, creed or social status. The PN Public Academy aims to maintain a sharp focus on the pursuit of knowledge and skill. 
</p>

  </div>


    